.LayoutContainer {
  display: flex;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sublist {
  color: gray;
  margin-left: 12px;
  list-style: none;
}

/*-------------------- Theme Colors ----------------*/
/*-------------------- Shades ----------------*/
/*-------------------- Typography ----------------*/
/*----------------------- Shadows --------------------filter:drop-shadow()-----*/
/*----------------------- Corners -------------------------*/